.footer {
    flex-basis: 100%;
    height: 5vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mq(big){
        padding: 30px;
        margin-bottom: 10px;
      }
    &__description {
        font-size: 20px;
        @include mq(small){
            font-size: 30px;
        }
        
      }
  }